Baz1/scheme/*.bak*
Baz1/scheme/*.xml
Baz1/scheme/*.bin
Baz1/scheme/*.edf
Baz1/scheme/*.c
Baz1/scheme/*.h
Baz2/scheme/*.bak*
Baz2/scheme/*.xml
Baz2/scheme/*.bin
Baz2/scheme/*.edf
Baz2/scheme/*.c
Baz2/scheme/*.h
scm/scheme/*.bak*
scm/scheme/*.xml
scm/scheme/*.bin
scm/scheme/*.edf
scm/scheme/*.c
scm/scheme/*.h
du/scheme/*.bak*
du/scheme/*.xml
du/scheme/*.bin
du/scheme/*.edf
du/scheme/*.c
du/scheme/*.h
AKNP1/scheme/*.bak*
AKNP1/scheme/*.xml
AKNP1/scheme/*.bin
AKNP1/scheme/*.edf
AKNP1/scheme/*.c
AKNP1/scheme/*.h
AKNP3/scheme/*.bak*
AKNP3/scheme/*.xml
AKNP3/scheme/*.bin
AKNP3/scheme/*.edf
AKNP3/scheme/*.c
AKNP3/scheme/*.h
AKNP4/scheme/*.bak*
AKNP4/scheme/*.xml
AKNP4/scheme/*.bin
AKNP4/scheme/*.edf
AKNP4/scheme/*.c
AKNP4/scheme/*.h
RPU/scheme/*.bak*
RPU/scheme/*.xml
RPU/scheme/*.bin
RPU/scheme/*.edf
RPU/scheme/*.c
RPU/scheme/*.h
