Baz1/scheme/*.bak*
Baz1/scheme/*.xml
Baz1/scheme/*.bin
Baz1/scheme/*.edf
Baz1/scheme/*.c
Baz1/scheme/*.h
Baz2/scheme/*.bak*
Baz2/scheme/*.xml
Baz2/scheme/*.bin
Baz2/scheme/*.edf
Baz2/scheme/*.c
Baz2/scheme/*.h
scm/scheme/*.bak*
scm/scheme/*.xml
scm/scheme/*.bin
scm/scheme/*.edf
scm/scheme/*.c
scm/scheme/*.h